/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

html {
  background-image: url("./resources/Kintsugi-Surface-Close-up.jpg");
  background-color: rgba(0, 0, 0, 1);
  background-size: cover;
}

body {
  color: white;
  font-family: Verdana;
  line-height: 1.5;
  max-width: 1000px;
  margin: auto;
}

a:visited {
  color: white;
}

a {
  color: gold;
}

h1 {
  background-color: rgba(0, 0, 0, 0.5);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 0% 55%,
    rgb(218, 165, 32) 100%
  );
  border: 2px solid hsla(43, 74%, 49%, 1);
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  color: white;
  transition: color 0.3s ease;
}

.site_title {
  font-size: 40px;
}

.intro {
  text-align: center;
}
.resume {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid goldenrod;
  margin: 10px;
  padding: 20px;
}

.about_us_container {
  display: flex;
  column-gap: 50px;
  justify-content: space-between;
}

.about_us {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  max-width: 450px;
  border: 2px solid goldenrod;
  padding: 20px;
}
.hello {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid goldenrod;
  margin: 20px;
  padding: 20px;
  max-width: 1000x;
}
